#bb-body{
    font-family: inherit;
}
.feature-news>h1{
    font-family: helvetica ;border-bottom: 1px solid #e9e9e9;
}
.new-news>.h1{
    font-family: helvetica ; border-bottom: 1px solid #e9e9e9;
}
.list-box>.news-item{
    border-top: 1px dotted #e9e9e9;
}
.list-box>.news-item>h1{
    margin:5px
}
.pagination-template>.pagination{
    border-radius:10px
}
.pagination-template>.pagination>ul{
    border-radius:10px
}
.pagination>ul>li>a {
    background-color: #cfcfcf;
    color: #ffffff;
    border-top: 1px solid #004b8d;
    border-left: 1px solid #004b8d;
    border-bottom: 1px solid #004b8d;
    line-height: 18px;

    padding: 6px 12px;
    display: block;
}

.pagination>ul>li>a.after {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;


}

.pagination>ul>li>a.befor {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;


}

.pagination>ul>li {
    display: inline-block;
}

.feature-body>ul>li {
    padding: 3px 0px;
    font-weight: 700;
}

a:hover {
    color: red;
    text-decoration: underline;
}
