@keyframes ldioXauktx6pcnr {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.ldioXauktx6pcnr div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldioXauktx6pcnr linear 1s infinite;
    background: #fe718d;
    width: 6px;
    height: 12px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
}

.ldioXauktx6pcnr div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #fe718d;
}

.ldioXauktx6pcnr div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #fe718d;
}

.loadingioSpinnerSpinnerPt9ja3uvr3b {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    transform: translate(-50%, -50%);

}

.ldioXauktx6pcnr {
    position: relative;
    transform: translateZ(0) scale(0.4);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldioXauktx6pcnr div {
    box-sizing: content-box;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 248, 255, 0.198);
    z-index: 30;
}