.dropdown:hover .dropdown-menu {
    display: block;
}

.account:hover .menu-account {
    display: block;
}

.test-1:focus-within .dropdown-menu{
    display: block;
}

.droplog:hover .droplog-dow{
    display: block;
}

.overlay{
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}